<launch>
<!-- Não executar
    <node pkg="eva-robot-ros" type="smart_bulb_node.py" name="XIAOMI"/>
    <node pkg="eva-robot-ros" type="talker.py" name="LAMP_CTRL"/>
-->

<!-- Executar-->
    <node pkg="eva-robot-ros" type="smart_bulb_node.py" name="Smart_Bulb_XIAOMI"/>
    <node pkg="eva-robot-ros" type="audio_node.py" name="Audio_CTRL"/>
    <node pkg="eva-robot-ros" type="tts_ibm_node.py" name="TTS_IBM_SERVICE"/>
    <node pkg="eva-robot-ros" type="eyes_node.py" name="Eva_Emotion"/>
</launch>